	* {
	margin: 0;
	padding: 0;
	}
	body {
	background-color: f6b1c3;
	}

	.container {
	width: 100%;
	height: 15%;
	background: #ff69b4;
	}

	.menu ul {
	display: inline-flex;
	overflow: hidden;
	}

	.menu ul li {
	list-style: none;
	margin-top: -10px;
	font-family: sans-serif;
	}

	.menu ul li a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	padding: 35 35px;
	display: block;
	}

	.menu ul li a:hover {
	background-color: #ff1493;
	}

	.logo {
	position: absolute;
	margin-left: 1270px;
	}

	.logo img {
	width: 30px;
	margin-top: 28px;
	}

	.app-pic {
	width: 100%;
	position: absolute;
	}

	.app-pic img {
	width: 100%;
	margin-top: -10px;
	}

	.app-text {
	position: relative;
	top: -725px;
	}

	.app-text p {
	text-align: center;
	color: #ffffff;
	font-family: Brush Script MT;
	font-size: 80px;
	margin-top: 50px;
	text-shadow: 2px 2px 5px black;
	}

	.intro {
	position: relative;
	top: 750px;
	text-align: justify;
	margin: 0px 50px;
	background: white;
	}
	.intro h2 {
	font-family: MV Boli;
	font-size: 60px;
	color: #ff69b4;
	padding: 6px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2.5px solid black;
	}

	.intro p {
	font-size: 25px;
	padding: 0px;
	letter-spacing: -1px;
	word-spacing: 7px;
	margin-left: 25px;
	line-height: 45px;
	text-indent: 60px;
	margin-right: 22px;
	text-align: justify;
	}
	.intro h1 {
	padding-bottom: 15px;
	margin-left: 25px;
	font-size: 35px;
	}

.callnav a {
  position: fixed;
  left: -180px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.callnav a:hover {
    left: 0;
}

.icon {
  top: 450px;
  background-color: red;
}

.icon img{
    width:15%;

    float: right;
}

